.pokedex-title {
  font-family: 'Pokemon Font';
  letter-spacing: 4px;
  color: var(--pokemon-yellow);
  -webkit-text-stroke-width: 3.5px;
  -webkit-text-stroke-color: var(--pokemon-blue);
  cursor: default;
}
