/*  POKEBALL  */
.pokeball {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 15px solid var(--pokeball-black);
  background: linear-gradient(
    to bottom,
    var(--pokeball-red),
    var(--pokeball-red) 47%,
    var(--pokeball-black) 47%,
    var(--pokeball-black) 53%,
    var(--pokeball-white) 53%
  );
}

.pokeball::after {
  content: '';
  display: block;
  background: var(--pokeball-white);
  border: 15px solid var(--pokeball-black);
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-image: radial-gradient(
    circle at center,
    var(--grey) 0%,
    var(--grey) 30%,
    var(--pokeball-white) 32%,
    var(--pokeball-white)
  );
}

/* ANIMATION */

.spin {
  animation: spin;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}




/* MEDIA QUERIES */



@media(max-width: 540px) {


    .pokeball {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 10px solid var(--pokeball-black);
        background: linear-gradient(
          to bottom,
          var(--pokeball-red),
          var(--pokeball-red) 47%,
          var(--pokeball-black) 47%,
          var(--pokeball-black) 53%,
          var(--pokeball-white) 53%
        );
      }
      
      .pokeball::after {
        content: '';
        display: block;
        background: var(--pokeball-white);
        border: 10px solid var(--pokeball-black);
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-image: radial-gradient(
          circle at center,
          var(--grey) 0%,
          var(--grey) 30%,
          var(--pokeball-white) 32%,
          var(--pokeball-white)
        );
      }

}