/*  POKEBALL  */
.pokeball {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 15px solid var(--pokeball-black);
  background: linear-gradient(
    to bottom,
    var(--pokeball-red),
    var(--pokeball-red) 47%,
    var(--pokeball-black) 47%,
    var(--pokeball-black) 53%,
    var(--pokeball-white) 53%
  );
}

.pokeball::after {
  content: '';
  display: block;
  background: var(--pokeball-white);
  border: 15px solid var(--pokeball-black);
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-image: radial-gradient(
    circle at center,
    var(--grey) 0%,
    var(--grey) 30%,
    var(--pokeball-white) 32%,
    var(--pokeball-white)
  );
}

/* ANIMATIONS */

/* LOADING */
.spin {
  animation: spin;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ERROR */

.wiggle {
  animation: wiggle;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

@keyframes wiggle {
  0% {
    transform: translate(0, 0);
  }
  3.78571% {
    transform: translate(15px, 0);
  }
  6.57143% {
    transform: translate(0, 0);
  }
  9.35714% {
    transform: translate(15px, 0);
  }
  12.14286% {
    transform: translate(0, 0);
  }
  15.92857% {
    transform: translate(15px, 0);
  }
  18.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* MEDIA QUERIES */

@media (max-width: 540px) {
  .pokeball {
    width: 200px;
    height: 200px;
    border: 10px solid var(--pokeball-black);
  }

  .pokeball::after {
    border: 10px solid var(--pokeball-black);
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 440px) {
  .pokeball {
    width: 150px;
    height: 150px;
    border: 7.5px solid var(--pokeball-black);
  }

  .pokeball::after {
    border: 7.5px solid var(--pokeball-black);
    height: 45px;
    width: 45px;
  }
}
