/* ERROR PAGE */
.error-page-body__message {
  line-height: 4rem;
  cursor: default;
}

/* REDIRECT LINK */
.redirect-link {
  color: var(--pokeball-red);
}

.redirect-link:hover {
  text-decoration: none;
  color: var(--dark);
}
