.main-header__nav {
  /* height: 100%;
    width: 96vw; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-navbar {
  padding: 15px;
}

/*   
  @media (max-width: 769px) {
    .main-header__nav {
      display: none !important;
    }
  }
   */
