/* MAIN-HEADER */
.main-header {
  padding: 1.5rem;
  position: fixed;
  z-index: 150;
  top: 0;
  width: 100%;
  background-color: var(--water);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

/* MEDIA QUERIES */

@media (max-width: 430px) {
  .main-header {
    padding-left: 0;
  }
}
