/* CARD */
.card {
  min-height: 15rem;
  min-height: 18rem;
  max-height: 20rem;
  border-radius: 18px;
  background-color: var(--grey);
}

.starter-background {
  background-color: var(--water);
  color: var(--white);
}

.pokemon-number {
  top: 1.5rem;
  right: 2rem;
}

.pokemon-img-wrapper {
  background-color: var(--white);
  padding: 1.8rem;
  border-radius: 100px;
}

.pokemon-img {
  max-height: 11rem;
  max-width: 11rem;
  min-height: 10rem;
  min-width: 10rem;
}

.pokemon-link {
  color: var(--dark) !important;
}

.pokemon-link:hover {
  text-decoration: none;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
  .pokemon-name {
    font-size: 24px;
  }

  .pokemon-img {
    max-height: 10rem;
    max-width: 10rem;
    min-height: 8rem;
    min-width: 8rem;
  }
}

@media (max-width: 576px) {
  .pokemon-name {
    font-size: 24px;
  }

  .pokemon-img {
    max-height: 8rem;
    max-width: 8rem;
    min-height: 6rem;
    min-width: 6rem;
  }
}

@media (max-width: 420px) {
  .pokemon-name {
    font-size: 18px;
  }

  .pokemon-img {
    max-height: 6rem;
    max-width: 6rem;
    min-height: 4rem;
    min-width: 4rem;
  }
}
