.pokemon-details-card {

  border-radius: 100px;
}

/* .pokemon-details-card:before {
  content: '';
  display: block;
  opacity: 0.5;
  background: linear-gradient(
    to bottom,
    var(--grass) 0%,
    var(--grass) 60%,
    var(--white) 75%,
    var(--white) 100%
  );
  position: absolute;
  border-radius: 100px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
} */

.pokemon-details-card__pokemon-title {
  font-weight: bold;
}

.pokemon-details-card__image-wrapper {
  /* max-height: 30rem;
  max-width: 30rem; */
  background-color: var(--white);
  padding: 2.5rem;
  clip-path: circle();
}

.pokemon-details-card__image {
  height: 16rem;
  width: 16rem;
}

.pokemon-details-card__body {
  /* box-shadow: 1px solid black; */
  /* border: 3px solid black; */

  background-color: var(--dark-blue);
  opacity: 0.8;
  /* border-left: 3px solid black;
  border-right: 3px solid black;
  border-top: 3px solid black; */
  /* border-radius: 50px 50px 0 0; */
  /* border-radius: 50px 50px 0 0; */
  border-radius: 50px;
  margin-top: 1.7rem !important;
  min-width: 70%;
}

.pokemon-details-card__pokemon-title,
.pokemon-details-card__pokemon-number,
.pokemon-details-card__pokemon-type,
.pokemon-details-card__body-skill,
.pokemon-details-card__body-form {
  cursor: default;
}

.pokemon-details-card__pokemon-title::first-letter,
.pokemon-details-card__pokemon-type,
.pokemon-details-card__body-skill,
.pokemon-details-card__body-form {
  text-transform: capitalize;
}

.pokemon-details-card__body-skill,
.pokemon-details-card__pokemon-type,
.pokemon-details-card__body-form {
  background-color: var(--white);
  display: inline-block;
  border-radius: 50px;
  color: black;
  font-weight: bold;
}

.pokemon-details-card__pokemon-type {
  color: var(--white);
}

.normal {
  background-color: var(--normal);
}

.fire {
  background-color: var(--fire);
}

.water {
  background-color: var(--water);
}
.electric {
  background-color: var(--electric);
}
.grass {
  background-color: var(--grass);
}
.ice {
  background-color: var(--ice);
}
.fighting {
  background-color: var(--fighting);
}
.poison {
  background-color: var(--poison);
}
.ground {
  background-color: var(--ground);
}
.flying {
  background-color: var(--flying);
}
.psychic {
  background-color: var(--psychic);
}
.bug {
  background-color: var(--bug);
}
.rock {
  background-color: var(--rock);
}
.ghost {
  background-color: var(--ghost);
}
.dragon {
  background-color: var(--dragon);
}

.dark {
  background-color: var(--dark2);
}

.steel {
  background-color: var(--steel);
}

.fairy {
  background-color: var(--fairy);
}


.normal-bg {
  background: linear-gradient(
    to bottom,
    rgba(var(--normal-bg), 0.5) 0%,
    rgba(var(--normal-bg), 0.5) 60%,
    var(--white) 75%,
    var(--white) 100%
  );
}

.fire-bg {
  background: linear-gradient(
    to bottom,
    rgba(var(--fire-bg), 0.5) 0%,
    rgba(var(--fire-bg), 0.5) 60%,
    var(--white) 75%,
    var(--white) 100%
  );
}

.water-bg {
  background: linear-gradient(
    to bottom,
    rgba(var(--water-bg), 0.5) 0%,
    rgba(var(--water-bg), 0.5) 60%,
    var(--white) 75%,
    var(--white) 100%
  );
}
.electric-bg {
  background: linear-gradient(
    to bottom,
    rgba(var(--electric-bg), 0.5) 0%,
    rgba(var(--electric-bg), 0.5) 60%,
    var(--white) 75%,
    var(--white) 100%
  );
}
.grass-bg {
  background: linear-gradient(
    to bottom,
    rgba(var(--grass-bg), 0.5) 0%,
    rgba(var(--grass-bg), 0.5) 60%,
    var(--white) 75%,
    var(--white) 100%
  );

  /* background: rgba(var(--grass), 1) */
}
.ice-bg {
  background: linear-gradient(
    to bottom,
    rgba(var(--ice-bg), 0.5) 0%,
    rgba(var(--ice-bg), 0.5) 60%,
    var(--white) 75%,
    var(--white) 100%
  );
}
.fighting-bg {
  background: linear-gradient(
    to bottom,
    rgba(var(--fighting-bg), 0.5) 0%,
    rgba(var(--fighting-bg), 0.5) 60%,
    var(--white) 75%,
    var(--white) 100%
  );
}
.poison-bg {
  background: linear-gradient(
    to bottom,
    rgba(var(--poison-bg), 0.5) 0%,
    rgba(var(--poison-bg), 0.5) 60%,
    var(--white) 75%,
    var(--white) 100%
  );
}
.ground-bg {
  background: linear-gradient(
    to bottom,
    rgba(var(--ground-bg), 0.5) 0%,
    rgba(var(--ground-bg), 0.5) 60%,
    var(--white) 75%,
    var(--white) 100%
  );
}
.flying-bg {
  background: linear-gradient(
    to bottom,
    rgba(var(--flying-bg), 0.5) 0%,
    rgba(var(--flying-bg), 0.5) 60%,
    var(--white) 75%,
    var(--white) 100%
  );
}
.psychic-bg {
  background: linear-gradient(
    to bottom,
    rgba(var(--psychic-bg), 0.5) 0%,
    rgba(var(--psychic-bg), 0.5) 60%,
    var(--white) 75%,
    var(--white) 100%
  );
}
.bug-bg {
  background: linear-gradient(
    to bottom,
    rgba(var(--bug-bg), 0.5) 0%,
    rgba(var(--bug-bg), 0.5) 60%,
    var(--white) 75%,
    var(--white) 100%
  );
}
.rock-bg {
  background: linear-gradient(
    to bottom,
    rgba(var(--rock-bg), 0.5) 0%,
    rgba(var(--rock-bg), 0.5) 60%,
    var(--white) 75%,
    var(--white) 100%
  );
}
.ghost-bg {
  background: linear-gradient(
    to bottom,
    rgba(var(--ghost-bg), 0.5) 0%,
    rgba(var(--ghost-bg), 0.5) 60%,
    var(--white) 75%,
    var(--white) 100%
  );
}
.dragon-bg {
  background: linear-gradient(
    to bottom,
    rgba(var(--dragon-bg), 0.5) 0%,
    rgba(var(--dragon-bg), 0.5) 60%,
    var(--white) 75%,
    var(--white) 100%
  )
}
.dark-bg {
  background: linear-gradient(
    to bottom,
    rgba(var(--dark2-bg), 0.5) 0%,
    rgba(var(--dark2-bg), 0.5) 60%,
    var(--white) 75%,
    var(--white) 100%
  );
}

.steel-bg {
  background: linear-gradient(
    to bottom,
    rgba(var(--steel-bg), 0.5) 0%,
    rgba(var(--steel-bg), 0.5) 60%,
    var(--white) 75%,
    var(--white) 100%
  );
}

.fairy-bg {
  background: linear-gradient(
    to bottom,
    rgba(var(--fairy-bg), 0.5) 0%,
    rgba(var(--fairy-bg), 0.5) 60%,
    var(--white) 75%,
    var(--white) 100%
  );
}
