/* POKEDEX WRAPPER */
.pokedex-wrapper {
  background-color: var(--white);
  height: 100%;
}

.pokedex-title h1 {
  font-size: 64px;
}

/* DETAILS-WRAPPER */
.details-wrapper {
  height: 100vh;
}


/* MEDIA QUERIES */
@media (max-width: 992px) {
  .pokedex-title {
    -webkit-text-stroke-width: 2.5px !important;
  }
  .pokedex-title h1 {
    font-size: 44px;
    line-height: 64px;
  }
}
