/*  Custom Pokémon Font */
@font-face {
  font-family: 'Pokemon Font';
  src: url('../public/fonts/Pokemon\ Solid.ttf');
  font-style: normal;
  font-weight: normal;
}

/* general font: 'Lato' */
body {
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* General Styling */
  --grey: #f5f5f56e;
  --darker-grey: #cfbbbb6e;
  --dark: #2f2f2f;
  --white: #ffffff;
  --dark-blue: #263238;
  --light-green: #ebf5f0;

  /* Spinner */
  --pokeball-red: #ee1515;
  --pokeball-black: #222224;
  --pokeball-white: #f0f0f0;

  /* Fonts */
  --pokemon-yellow: #ffcb05;
  --pokemon-blue: #3c5aa6;

  /* PokemonDetailsCard Pokemon Types */
  --normal: #a8a77a;
  --fire: #ee8130;
  --water: #6390f0;
  --electric: #f7d02c;
  --grass: #7ac74c;
  --ice: #96d9d6;
  --fighting: #c22e28;
  --poison: #a33ea1;
  --ground: #e2bf65;
  --flying: #a98ff3;
  --psychic: #f95587;
  --bug: #a6b91a;
  --rock: #b6a136;
  --ghost: #735797;
  --dragon: #6f35fc;
  --dark2: #705746;
  --steel: #b7b7ce;
  --fairy: #d685ad;

  /* PokemonDetailsCard background */
  --normal-bg: 168, 167, 122;
  --fire-bg: 238, 129, 48;
  --water-bg: 99, 144, 240;
  --electric-bg: 247, 208, 44;
  --grass-bg: 122, 199, 76;
  --ice-bg: 150, 217, 214;
  --fighting-bg: 194, 46, 40;
  --poison-bg: 163, 62, 161;
  --ground-bg: 226, 191, 101;
  --flying-bg: 169, 143, 243;
  --psychic-bg: 249, 85, 135;
  --bug-bg: 166, 185, 26;
  --rock-bg: 182, 161, 54;
  --ghost-bg: 219, 191, 254;
  --dragon-bg: 111, 53, 252;
  --dark2-bg: 112, 87, 70;
  --steel-bg: 183, 183, 206;
  --fairy-bg: 214, 133, 173;
}

main {
  background-color: var(--grey);
}
